<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bikeshare.ncs.dao.extend.NcsDayUsageExtendMapper">
    <select id="selectMonthDataByYear"  resultType="com.bikeshare.ncs.bean.extend.NcsDayUsageExtend">
        SELECT d.month, SUM(h.register_usage) registerUsage,SUM(h.unregister_usage) unregisterUsage,SUM(h.total_usage) totalUsage
        FROM ncs_day_usage h,ncs_day d,ncs_region r WHERE h.region_id=r.id AND h.day_id=d.id AND r.id=#{id,jdbcType=BIGINT} AND
        d.year=#{year,jdbcType=CHAR}
        GROUP BY d.month;
    </select>
    <select id="selectDayDataByYearAndMonth" resultType="com.bikeshare.ncs.bean.extend.NcsDayUsageExtend">
        select d.`day` day, SUM(du.register_usage) registerUsage,SUM(du.unregister_usage) unregisterUsage,SUM(du.total_usage) totalUsage
        from ncs_day d,ncs_day_usage du,ncs_region r
         WHERE d.id=du.day_id AND du.region_id=r.id AND
         r.id=#{id,jdbcType=BIGINT} AND
        d.year=#{year,jdbcType=CHAR} AND
        d.month=#{month,jdbcType=CHAR}
        GROUP BY d.`day`
    </select>
    <select id="selectWeekendData" resultType="com.bikeshare.ncs.bean.NcsDayUsage">
        SELECT SUM(register_usage) registerUsage,SUM(unregister_usage) unregisterUsage,SUM(total_usage) totalUsage
        FROM ncs_region r,`ncs_day` d,ncs_day_usage du
        WHERE du.region_id=r.id
         and du.day_id=d.id
         and r.id=#{id,jdbcType=BIGINT}
         and year=#{year,jdbcType=CHAR}
         and week IN("0","6")
    </select>
    <select id="selectWeekdayData" resultType="com.bikeshare.ncs.bean.NcsDayUsage">
        SELECT SUM(register_usage) registerUsage,SUM(unregister_usage) unregisterUsage,SUM(total_usage) totalUsage
        FROM ncs_region r,`ncs_day` d,ncs_day_usage du
        WHERE du.region_id=r.id
         and du.day_id=d.id
         and r.id=#{id,jdbcType=BIGINT}
         and year=#{year,jdbcType=CHAR}
         and week NOT IN("0","6")
    </select>
    <select id="selectHolidayData" resultType="com.bikeshare.ncs.bean.NcsDayUsage">
        SELECT SUM(register_usage) registerUsage,SUM(unregister_usage) unregisterUsage,SUM(total_usage) totalUsage
        FROM ncs_region r,`ncs_day` d,ncs_day_usage du
        WHERE du.region_id=r.id
         and du.day_id=d.id
         and r.id=#{id,jdbcType=BIGINT}
         and year=#{year,jdbcType=CHAR}
         and holiday !="0"
    </select>
    <select id="selectWeekendCount" resultType="Long">
        SELECT count(*)
        FROM ncs_region r,`ncs_day` d,ncs_day_usage du
        WHERE du.region_id=r.id
         and du.day_id=d.id
         and r.id=#{id,jdbcType=BIGINT}
         and year=#{year,jdbcType=CHAR}
         and week IN("0","6")
    </select>
    <select id="selectWeekdayCount" resultType="Long">
        SELECT count(*)
        FROM ncs_region r,`ncs_day` d,ncs_day_usage du
        WHERE du.region_id=r.id
         and du.day_id=d.id
         and r.id=#{id,jdbcType=BIGINT}
         and year=#{year,jdbcType=CHAR}
         and week NOT IN("0","6")
    </select>
    <select id="selectHolidayCount" resultType="Long">
        SELECT count(*)
        FROM ncs_region r,`ncs_day` d,ncs_day_usage du
        WHERE du.region_id=r.id
         and du.day_id=d.id
         and r.id=#{id,jdbcType=BIGINT}
         and year=#{year,jdbcType=CHAR}
         and holiday !="0"
    </select>
    <select id="selectHolidayDetailData" resultType="com.bikeshare.ncs.bean.extend.NcsDayUsageExtend">
        SELECT d.`month`,d.`day`,d.holiday,du.register_usage registerUsage,du.unregister_usage unregisterUsage,du.total_usage totalUsage
        FROM ncs_region r,`ncs_day` d,ncs_day_usage du
        WHERE du.region_id=r.id
         and du.day_id=d.id
         and r.id=#{id,jdbcType=BIGINT}
         and year=#{year,jdbcType=CHAR}
         and holiday!="0"
		ORDER BY d.id
    </select>
    <select id="selectDataBySeason" resultType="com.bikeshare.ncs.bean.NcsDayUsage">
        SELECT SUM(du.register_usage) registerUsage,SUM(unregister_usage) unregisterUsage,SUM(total_usage) totalUsage
        FROM ncs_region r,`ncs_day` d,ncs_day_usage du
        WHERE du.region_id=r.id
         and du.day_id=d.id
         and r.id=#{id,jdbcType=BIGINT}
         and year=#{year,jdbcType=CHAR}
         and season=#{season,jdbcType=INTEGER}
    </select>
<!--    <resultMap id="NcsDayUsageExtendResultMap" type="com.bikeshare.ncs.bean.extend.NcsDayUsageExtend">-->
<!--        &lt;!&ndash;-->
<!--          WARNING - @mbg.generated-->
<!--          This element is automatically generated by MyBatis Generator, do not modify.-->
<!--          This element was generated on Sat Apr 18 21:43:16 CST 2020.-->
<!--        &ndash;&gt;-->
<!--        <result property="registerUsage" column="register_usage"/>-->
<!--        <result property="unregisterUsage" column="unregister_usage"/>-->
<!--        <result property="totalUsage" column="total_usage"/>-->
<!--        <collection property="day" column="year" select="com.bikeshare.ncs.dao.NcsDayMapper.selectByExample"/>-->
<!--    </resultMap>-->
    </mapper>
